@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: #0a0a0a;
  color: #ededed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --- Animaciones --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes background-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e, #0f0c29);
  background-size: 200% 200%;
  animation: background-pan 10s ease infinite;
}

.btn-hover-effect:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.2);
}

.card-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-effect:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 150, 255, 0.15);
}